#pohjal {
    bottom: 10px;
    text-align: bottom;
    position: absolute;
}
#pohjal:hover{
    background-color: darkorchid;
}
#lapinakymaton {
    background-color: whitesmoke;
    width: fit-content;
}
body {
    background-image: url("reykjavik.jpg");
    background-size: contain;
}
#laatikko:empty {
    background-color: #4A412A;
}
#pouta, th, tr {
    border: 2px solid salmon;
    background-image: linear-gradient(17deg, crimson, #008c8c);
    width: 200px;
    height: 200px;
    text-align: center;
}
th:hover {
    background-image: linear-gradient(17deg, #008c8c, crimson);
}
#navigointi {
    list-style-type: none;
    background-color: violet;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    overflow: hidden;
}
.navig {
    border: 2px solid lightcoral;
    float: left;
}